* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url("https://picsum.photos/id/724/1920/1080");
  min-height: 100vh;
  background-size: cover;
  color: white;
}

.btn {
  border: 1px solid white;
  margin-bottom: 10px;
  /* width: 85px;
  height: 35px; */
  background-color: transparent;
  opacity: 0.5;
  transition: 0.5s ease all;
}

.container .navbar {
  background-color: rgba(145, 13, 13, 0.418);
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
}

.container .navbar .navbar-left i {
  color: rgb(209, 204, 204);
  font-size: 25px;
  margin: 0 10px;
  opacity: 0.7;
  transition: 0.5s ease all;
  cursor: pointer;
  border-radius: 50%;
}

.container .navbar .navbar-left i:hover {
  color: orange;
  opacity: 1;
  transform: scale(1.2);
  box-shadow: -1px -1px 30px 3px cyan;
}

.container .navbar .navbar-right i {
  color: rgb(209, 204, 204);
  font-size: 25px;
  margin: 0 10px;
  opacity: 0.7;
  transition: 0.5s ease all;
  cursor: pointer;
}

.container .navbar .navbar-right i:hover {
  color: white;
  font-size: 25px;
  margin: 0 10px;
  opacity: 1;
}

.container .home {
  border: 1px solid transparent;
  margin: 60px 30px;
  font-family: "Croissant One", cursive;
  line-height: 30px;
}

.container .home p {
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 2px;
}

.container .home p span {
  font-weight: bold;
}

.home .btn a {
  text-decoration: none;
  font-size: 23px;
  color: white;
  padding: 15px;
  opacity: 0.5;
  transition: 0.5s ease all;
}

.home .btn a:hover,
.btn:hover {
  opacity: 1;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 10px 5px cyan;
}

.dropdown-content {
  background-color: rgba(145, 13, 13, 0.418);
  border-top: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 29px;
  display: none;
}

.dropdown-content:active {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.3s;
  z-index: 1;
}

.dropdown-content a {
  padding: 5px -5px;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
  color: white;
  font-size: 20px;
  text-align: end;
  opacity: 0.5;
  transition: 0.5s ease all;
}

.dropdown-content a:hover {
  opacity: 1;
}
